.calendar__month,
.calendar__year {
  font-weight: 500;
  font-size: 18px;
}

.calendar__weekday {
  font-size: 10px;
  opacity: 1 !important;
  color: #212121 !important;
}

.calendar__day.calendar__day-other {
  font-weight: 500 !important;
  font-size: 12px;
  opacity: 1 !important;
  color: #dddddd !important;
}

.calendar__day {
  font-weight: 500 !important;
  font-size: 12px;
  color: #212121;
}

.calendar__days .calendar__day-box {
  border-radius: 99999999px !important;
  background-color: #007e7c !important;
  box-shadow: none !important;
}

.color-calendar {
  padding-top: 15px;
}
